.jumbotron
  .container
    %h1 Welcome to HeroSpot!
    %p Test your knowledge of comic book heros, super villains, and video game characters.

%section.biography
  .row
    .col-sm-4
      .thumbnail
        = image_tag("/tmp/cyborg-superman-small.jpg", alt: "Cyborg-Superman")
        .caption
          %h3 Cyborg Superman 
          %p Cyborg is genetically identical to Superman. With a robotic body designed using Kryptonian technology and genetics, he has Superman's abilities and can possess any machine.
          = link_to 'Start Quiz', '', class: 'btn btn-primary btn-lg'

    .col-sm-4
      .thumbnail
        = image_tag("/tmp/apocalypse-small.jpg", alt: "Apocalypse")
        .caption
          %h3 Apocalypse
          %p Apocalypse aka En Sabah Nur is thousands of years old and enemy of the X-Men. Believed to be the first mutant, Apocalypse is cybernetically enhanced by celestial technology.
          = link_to 'Start Quiz', '', class: 'btn btn-primary btn-lg'

    .col-sm-4
      .thumbnail
        = image_tag("/tmp/judge-dredd-small.jpg", alt: "Judge Dredd")
        .caption
          %h3 Judge Dredd
          %p Street Judge of Mega-City One charged to instantly convict, sentence and execute criminals. Rides "Lawmaster" motorcycle equipped with AI controlled laser cannons.
          = link_to 'Start Quiz', '', class: 'btn btn-primary btn-lg'
