.jumbotron
  .container
    %h1 Welcome to HeroSpot!
    %p Test your knowledge of comic book heros, super villains, and video game characters.

%section.biography
  .row
    - @heros.each do |hero|
      .col-sm-4
        .thumbnail
          = image_tag("#{hero.small_url}", alt: "#{hero.name}")
          .caption
            %h3= "#{hero.name}" 
            %p= "#{hero.summary}"
