.jumbotron
  .container-fluid
    .row
      %div.col-sm-6(id="img_wrapper")
        = image_tag(@hero.large_url, alt: "#{@hero.name}")
      %div.col-sm-6(id="char_intro")
        %h2= "#{@hero.name}"
        %p= "#{@hero.summary}"
        - if logged_in?
          / = link_to 'Quiz', quiz_hero_path(@hero), class: 'btn btn-primary btn-lg'
          - unless @hero.follower?(current_user)
            = link_to 'Follow', follow_hero_path(@hero), class: 'btn btn-primary btn-lg'
          - else 
            = link_to 'Unfollow', unfollow_hero_path(@hero), class: 'btn btn-primary btn-lg' 

%section.biography
  .col-sm-8
    %h2 Origin
    %hr
    %p= "#{@hero.biography}" 

  .panel.panel-default.info
    .panel-heading
      %h3.panel-title Information
    %ul.list-group
      %li.list-group-item
        %h4 Category
        %p= "#{@hero.category.name}"
      %li.list-group-item
        %h4 Name
        %p= "#{@hero.name}"
      %li.list-group-item
        %h4 Publisher
        %p= "#{@hero.publisher}"
      %li.list-group-item
        %h4 Alias
        - @hero.aliases.each do |another|
          %p= "#{another.name}"


    
